*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.box{
    background-color: blue;
    position: fixed;
    height: 100px;
    width: 100px;
    /* top: 90vh; */
    bottom: 0;
    /* left: 4vw; */
    right: 0;
    border-radius: 50%;
}

.container-1, .container-2, .container-3{
    height: 100vh;
}

.container-1{
    background: #000;
    position: relative;
}
.container-2{
    /* z-index: 3; */
}
.container-3{
    background: #000;
}

.child-1{
    position: absolute;
    height: 100px;
    width: 100px;
    background-color: aqua;
}
