*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.container{
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 200px 200px 200px;
    /* gap: 4px; */
    /* to define the size of new dynamic items */
    grid-auto-rows: 200px;
    /* to center the grid */
    justify-content: center;
    height: 200vh;
    background-color: black;
    align-content: center;
    row-gap: 30px;
    column-gap: 10px;
}

.child{
    background-color: aquamarine;
    /* border: 2px solid black; */
    padding: 10px;
}



.parent{
    display: grid;
    /* grid-template-columns: 18vw 80vw;
    grid-template-rows: 10vh 100vh 30vh; */
    grid-template-areas:
                        "hdr hdr hdr" 
                        "opt cont cont"
                        "ftr ftr ftr";
    gap: 10px;
}


.header{
    grid-area: hdr;
    height: 10vh;
    background-color: blanchedalmond;
}
.options{
    grid-area: opt;
    /* width: 20vw; */
    height: 100vh;
    background-color: blueviolet;
}
.content{
    grid-area: cont;
    /* width: 80vw; */
    background-color: blue;
}
.footer{
    grid-area: ftr;
    height: 20vh;
    background-color: yellow;
}